@using GridMvc.Html

@model PagedList.IPagedList<SGP.Models.ResponePostOfficeAmount>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Doanh thu theo ngày</h2>
<div>
    <div class="container">
        <div class="row">
            <form method="post">
                <div class='col-sm-4'>
                    <div class="form-group">
                        From date
                        <div class='input-group date' id='dtpfromdate'>
                            <input type='text' class="form-control" id="fdate" name="FromDate" value="@ViewBag.FromDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>


                </div>

                <div class="col-sm-4">
                    To date
                    <div class='input-group date' id='dtptodate'>
                        <input type='text' class="form-control" name="ToDate" id="tdate" value="@ViewBag.ToDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <br />
                    <button type="submit" class="btn btn-primary" id="submit">Xem</button>
                </div>
                <div class="col-sm-1">
                    <br />
                    <a href="/report/ExcelPostOfficeAmount?FromDate=@ViewBag.FromDate&ToDate=@ViewBag.ToDate" class="btn btn-primary">Xuat Excel</a>

                </div>
            </form>

        </div>
    </div>
</div>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<br />

<div class="table-responsive">

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">STT</th>
                <th class="column-title">Mã BC</th>
                <th class="column-title">Tên BC</th>
                <th class="column-title">Tổng CG</th>
                <th class="column-title">Tổng SL</th>
                <th class="column-title">Tổng TL</th>
                <th class="column-title">Tổng DT</th>
                <th class="column-title">Tổng DS</th>
            </tr>
        </thead>
        <tbody>
    
            @foreach (var item in Model)
            {

                <tr class="even pointer @(item.TotalQuantity > 5 ? "success" : "danger")">
                    <td>@item.STT</td>
                    <td>@item.PostOfficeID</td>
                    <td>@item.PostOfficeName</td>
                    <td>@item.TotalMailer</td>
                    <td>@item.TotalQuantity</td>
                    <td>@item.TotalWeight</td>
                    <td>@item.BefVATAmount</td>
                    <td>@item.Amount</td>
                </tr>

            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("PostOfficeAmount",
                            new { page, FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate }))
</div>

@section scripts{
    <script src="../Scripts/vendors/Chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript">
        var a = [];

        @foreach (var item in Model) {
            @:a.push('@item.PostOfficeID');
                                        }

        console.log(a);

        $(function () {
            $('#dtpfromdate').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
        $(function () {
            $('#dtptodate').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}





